




<h1><font color="white">New Keg</font></h1>

<button ng-click = "showme=true">Show form</button>
<button ng-click = "showme=false">Hide form</button>
<div ng-show="showme">
<div>
  <label>Enter Keg Brand:</label>
  <input #newName><br>
  <label>Enter Description:</label>
  <input #newBrand><br>
  <label>Enter Price:</label>
  <input #newPrice><br>
  <label>Enter Alcohol Consume:</label>
  <input #newAlcoholConsume><br>
  <label>Enter Pints:</label>
  <input #newPints><br>
  <label>Enter Password:</label>
  <input #newPassword><br>
  <label>Enter Image Number:</label>
  <input #newImage><br>

</div>
<div>
  <label>Keg Price:</label>
  <select #newPriceSelect>
    <option [value]="12"> Low  </option>
    <option [value]="10"> Medium </option>
    <option [value]="8"> High </option>
  </select>
  <button (click)="submitForm(newName.value, newBrand.value, newPrice.value, newAlcoholConsume.value,newPints.value,newPrice.value,newPassword.value,newImage.value); newName.value='';">Add</button>
</div>
</div>
