
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>




<select (change)="onChange($event.target.value)">
  <option value=128 selected="selected">All Kegs</option>
  <option value=7>Under 7</option>
  <option value=3>Under 3</option>
</select>



<ul>
  <!-- <li*ngFor="let currentKeg of childKegList | alcoholConsume:filterByAlcoholConsume"> -->
    "Brand:"{{currentKeg.name}}
    "Description:" {{currentKeg.brand}}
    "Price:" {{currentKeg.price}}
    "Alcohol content:" {{currentKeg.alcoholcontent}}
    "Pints:" {{currentKeg.pints}}
    "Image:" {{currentKeg.image}}




<!--
  </li> -->
</ul>

  <button (click)="happyHourButtonClicked(childKegList)"class="btn btn-info">Happy hour</button>
  <button (click)="resetPriceButtonClicked(childKegList)"class="btn btn-warning">Original price</button>
<!--  -->

<div class="owner">
<h2>Tap Room</h2>
<h3>{{currentFocus}}</h3>
</div>
<div class="popular-content text-center">
            <div class="visit">
               <div class="container">
                  <div class="tor-hover">
                     <div *ngFor="let currentKeg of childKegList | alcoholConsume:filterByAlcoholConsume" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div   class="toronto-content" >

                           <div class="toronto">
                              <img src= "{{currentKeg.image}}" alt="toronto view" class="image"/>

                              <div class="overlay1">

                                 <div class="text">



                                          <button (click)="sellButtonClicked(currentKeg)">Sell</button>

                                 </div>
                              </div>

                           <div class="tor-box">
                              <h3>Traditional Bock</h3>
                              <div class="rating">
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color1"></span>
                              </div>
                              <div class="toronto-border"></div>
                                <span class="duration">
                                "Brand:"{{currentKeg.name}}<br>
                                "Description:" {{currentKeg.brand}}<br>
                                "Price:" {{currentKeg.price}}<br>
                                "Alcohol content:" {{currentKeg.alcoholcontent}}<br>
                                "Pints:" {{currentKeg.pints}}<br>
                                <button (click)="editButtonClicked(currentKeg)">Edit!</button>

                                    <button (click)="sellGrowlerButtonClicked(currentKeg)">Sell Growler</button>
                                    <button (click)="sellLargeGrowlerButtonClicked(currentKeg)">Sell Growler</button>
                                </span>
                           </div>
                        </div>
                     </div>
                   </div>
                  </div>
                  <!-- <div class="tor-hover">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="toronto-content">
                           <div class="toronto">
                              <img src="https://cdnimg.webstaurantstore.com/uploads/buying_guide/2017/2/weizenbock.jpg" alt="toronto view" class="image"/>
                              <div class="overlay1">
                                 <div class="text">
                                    <button type="button">SELL</button>

                                 </div>
                              </div>
                           </div>
                           <div class="tor-box">
                              <h3>Weizenbock</h3>
                              <div class="rating">
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color1"></span>
                              </div>
                              <div class="toronto-border"></div>
                                <span class="duration">124 pints </span>
                           </div>
                        </div>
                     </div>
                  </div> -->
                  <!-- <div class="tor-hover">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="toronto-content">
                           <div class="toronto">
                              <img src="https://cdnimg.webstaurantstore.com/uploads/buying_guide/2017/2/german-helles.jpg" alt="toronto view" class="image"/>
                              <div class="overlay1">
                                 <div class="text">
                                    <button type="button">SELL</button>
                                 </div>
                              </div>
                           </div>
                           <div class="tor-box">
                              <h3>German Helles</h3>
                              <div class="rating">
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color1"></span>
                              </div>
                              <div class="toronto-border"></div>
                              <span class="duration">124 pints </span>
                           </div>
                        </div>
                     </div>
                  </div> -->
               <!-- </div>
            </div> -->
            <!-- <div class="visit visit-balance">
               <div class="container">
                  <div class="tor-hover">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="toronto-content">
                           <div class="toronto">
                              <img src="https://cdnimg.webstaurantstore.com/uploads/buying_guide/2017/2/german-schwarzbier.jpg" alt="toronto view" class="image"/>
                              <div class="overlay1">
                                 <div class="text">
                                      <button type="button">SELL</button>
                                 </div>
                              </div>
                           </div>
                           <div class="tor-box">
                              <h3>German Schwarzbier</h3>
                              <div class="rating">
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color1"></span>
                              </div>
                              <div class="toronto-border"></div>
                              <span class="duration">124 pints </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tor-hover">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="toronto-content">
                           <div class="toronto">
                              <img src="https://cdnimg.webstaurantstore.com/uploads/buying_guide/2017/2/vienna-lager.jpg" alt="toronto view" class="image"/>
                              <div class="overlay1">
                                 <div class="text">
                                      <button type="button">SELL</button>
                                 </div>
                              </div>
                           </div>
                           <div class="tor-box">
                              <h3>Vienna Lager</h3>
                              <div class="rating">
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color1"></span>
                              </div>
                              <div class="toronto-border"></div>
                              <span class="duration">124 pints </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tor-hover">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="toronto-content">
                           <div class="toronto">
                              <img src="https://cdnimg.webstaurantstore.com/uploads/buying_guide/2017/2/maibock.jpg" alt="toronto view" class="image"/>
                              <div class="overlay1">
                                 <div class="text">
                                    <button type="button">SELL</button>
                                 </div>
                              </div>
                           </div>
                           <div class="tor-box">
                              <h3>Maibock</h3>
                              <div class="rating">
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color"></span>
                                 <span class="fa fa-star color1"></span>
                              </div>
                              <div class="toronto-border"></div>
                              <span class="duration">124 pints </span>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> -->
         </div>
