
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <div class="container">


    <div style="text-align:center">



      <app-edit-keg [childSelectedKeg]="selectedKeg" (clickedDone)="finishedEditing()">
      </app-edit-keg>

      <app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
      <app-keg-list [childKegList]="masterKegList" (clickSender)="editKeg($event)"></app-keg-list>



      <router-outlet></router-outlet>
        </div>
      </div>
  </body>

</html>
